* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	color: #000;
	font-family: 'Dosis', sans-serif;
}

.link,
.link:hover {
	text-decoration: none;
}

.link:hover {
	color: white;
}

.link {
	font-size: 20px;
	color: #000;
	font-family: 'Dosis', sans-serif;
}

.page-header {
	margin-top: 12%;
}

body {
	background: rgb(14, 30, 37);
	color: rgb(242, 242, 242);
	font-family: 'Dosis', sans-serif;
}
